body {
	background-image:url('../img/fundo.jpeg');
	background-size: 100% 100%;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/*Resetando os valores de espaçamento */
 * {
 margin: 0;
 padding: 0;
 }
 
.clearfix {
	*zoom: 1;
}

img,
picture,
video,
embed {
	max-width: 100%;
	height: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section {
	width: 100%;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.1);
}

.card{
	background-image:url('../img/fundo.jpeg');
	background-size: 100% 100%;
}
.left{	
	width: 45%;
	float: left;
}

.right{
	width: 45%;
	float:right;
}
.coluna {
	width: 100%; /* 264px / 1128px*/
	margin-bottom: 1.0em;
}

.icon{
	height: 25px;
	width: 25px;
	padding: 5px;
}

.banner{
	height: 300px;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.banner img{
	height: 100%;
}