body {
	background-image:url('../img/fundo.jpeg');
	background-size: 100% 100%;
}

.formulario_cliente{
	width: 90%;
	border-radius: 15px;
	border: 1px solid black;
	padding: 10px;
    margin: auto;
    margin-bottom: 2%;
}

.formulario_endereco{
	width: 90%;
	border-radius: 15px;
	border: 1px solid black;
	padding: 10px;
	margin: auto;
}

form .btn{
	background:linear-gradient(to bottom right, Gold, DarkOrange, Tomato, Red, DeepPink, DeepPink);
	text-decoration:none;
	position: relative;
	padding:5px 10px;
	border-radius:5px;
	font-size:20px;
	margin-top: 2%;
	color: white;
}