body {
	background-image:url('../img/fundo.jpeg');
	background-size: 100% 100%;
}
 
.clearfix {
	*zoom: 1;
}

img,
picture,
video,
embed {
	max-width: 100%;
	height: 100%;
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Scroll do navegador */
::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.btn{
	width: 100%;
}

section {
	height: 94.5%;
	width: 100%;
	overflow: auto;
}

section .banner {
	height: 150px;
	margin-bottom: 0.8em;
	position: relative;
}

section .titu {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 36pt;
	color: Black;
	padding-top: 25px;
}

.grafico{
	width: 100%;
}

.card{
	position: relative;
	float: left;
	width: 24rem;
	margin-left: 3%;
	margin-top: 2%;
}

table{
	margin-top: 30%;
}